## Задание 1

Скачайте с сайта [grouplens.org...movielens/](https://grouplens.org/datasets/movielens/) датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

___
## Решение задания 1
Скачан файл https://files.grouplens.org/datasets/movielens/ml-10m.zip

MovieLens 10M movie ratings. Stable benchmark dataset. 10 million ratings and 100,000 tag applications applied to 10,000 movies by 72,000 users. Released 1/2009.

In [88]:
import pandas as pd
ratings_dataset = pd.read_csv('ml-latest-small/ratings.csv', engine='python')
filtered_rating = ratings_dataset[ ratings_dataset.rating == 5.0]
most_popular_film = filtered_rating['movieId'].value_counts()[:1]

movies_dataset = pd.read_csv('ml-latest-small/movies.csv', engine='python')
most_popular_movie = movies_dataset[ movies_dataset.movieId == most_popular_film.index[0]]
film_title = list(most_popular_movie.title)[0]
print(f'Название самого популярного фильма с рейтингом 5.0 - {film_title}\nКоличество оценок: {list(most_popular_film)[0]}')

Название самого популярного фильма с рейтингом 5.0 - Shawshank Redemption, The (1994)
Количество оценок: 153

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

___
## Решение задания 2

In [116]:
import pandas as pd
file_data = pd.read_csv('power.csv', engine='python')
filter_sql = "country in ['Latvia', 'Estonia', 'Lithuania'] \
            and year > 2004 and year < 2010 \
            and category in [4, 12, 21] \
            and quantity > 0"
file_data.query(filter_sql).quantity.sum()

201719.0

## Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

___
## Решение задания 3

In [127]:
# Берем данные отсюда: https://smart-lab.ru/q/shares/
import pandas as pd
f_states = pd.read_html('https://smart-lab.ru/q/shares/')[0] 
f_states.head(5)

,№,Unnamed: 1,Название,Тикер,Unnamed: 4,Unnamed: 5,Unnamed: 6,"Цена, посл","Изм, %","Объем, млн руб","1 нед, %","1 м, %","ytd, %","12м, %",Капит-я млрд руб,Капит-я млрд $,ИзмОбъема,Изм позпо Объему,Unnamed: 18,Unnamed: 19
0,NaN,18:51:01,Индекс ММВБ,IMOEX,NaN,NaN,NaN,3913.06,-0.87%,83 004.67,+2.7%,-6.5%,+19.0%,+22.9%,68 170.30,924.44,-23%,—,—,—
1,1.0,18:45:54,ГАЗПРОМ ао,GAZP,NaN,NaN,NaN,346.54,-1.07%,15 137.24,+5.7%,-1.2%,+63.0%,+83.5%,8 203.82,111.25,-34%,NaN,+,+
2,2.0,18:45:29,Сбербанк,SBER,NaN,NaN,NaN,320.34,-1.98%,12 030.43,+5.3%,-13.1%,+18.2%,+18.7%,7 211.16,97.79,-30%,NaN,+,+
3,3.0,18:45:56,ЛУКОЙЛ,LKOH,NaN,NaN,NaN,6668.00,-0.95%,4 678.12,+4.1%,-6.6%,+28.7%,+30.0%,4 620.03,62.65,-44%,NaN,+,+
4,4.0,18:45:40,НЛМК ао,NLMK,NaN,NaN,NaN,219.50,+0.53%,4 214.79,+0.7%,-1.5%,+5.0%,+14.4%,1 315.51,17.84,+86%,+9,+,+